* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: rgb(1, 7, 83);
    --text-main: rgb(29, 29, 29);
    --text-alt: rgb(247, 247, 247);
    --btn-main: rgb(255, 255, 255);
    --btn-alt: rgb(90, 216, 73);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100svh;
    background-color: var(--bg-color);
}

.container .btn {
    padding: 12px 60px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: var(--btn-main);
    color: var(--text-main);
    border-radius: 30px;
    cursor: pointer;
}

.popup {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 30px 30px;
    background-color: var(--btn-main);
    gap: 20px;
    border-radius: 4px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    text-align: center;
    color: var(--bg-color);
    transition: transform 0.5s, top 0.5s;
}

.show-popup {
    top: 50%;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    margin-top: -50px;
    width: 120px;
    border-radius: 50%;
}

.popup .heading {
    font-size: 2.5rem;
    font-weight: 500;
}

.popup .text {
    font-size: 1rem;
    font-weight: 400;
}

.popup .btn2 {
    padding: 12px 32px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--btn-alt);
    color: var(--text-alt);
    border-radius: 8px;
    cursor: pointer;
}